
Could not find matching close tag for "<%".



   <!-- <input type="hidden" name="startTime" value="<%=filterSlot.startTime%>">
    <input  type="hidden" name="endTime" value="<%=filterSlot.endTime%>">
    <input type="hidden" name="date" value="<%=filterSlot.date%>">

    //appoint-details
    
      <h6 class="card-subtitle mb-2 text-muted">startTime: <%=appoint.startTime%></h6>
      <h6 class="card-subtitle mb-2 text-muted">endTime: <%=appoint.endTime%></h6>