<!-- appoint-details.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Details</title>
</head>
<body>
    <h1>Appointment Details</h1>
    <h2>Current Appointment:</h2>
    <p>Patient ID: <%= appoint.patientId %></p>
    <p>Speciality: <%= appoint.speciality %></p>
    <%console.log("test test")%>
    <p>Doctor ID: <%= appoint.doctorId %></p>
    <%console.log(appoint)%>
    <p>Slot ID: <%= appoint.slotId %></p>
    <p>Start Time: <%= appoint.startTime %></p>
    <p>End Time: <%= appoint.endTime %></p>
    <p>Status: <%= appoint.status %></p>
    <h2>Update Appointment Status:</h2>
    <form action="/update-appoint" method="post">
        <label for="newStatus">New Status:</label>
        <select name="newStatus" id="newStatus" required>
            <option value="Pending">Pending</option>
            <option value="Confirmed">Confirmed</option>
            <option value="Cancelled">Cancelled</option>
        </select>
        <input type="hidden" name="appointId" value="<%= appoint._id %>">
        <button type="submit">Update Status</button>
    </form>
</body>
</html>
