<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Online Ticketing</title>
  <link rel="stylesheet" href="/stylesheets/style12.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
  <div class="main-container">
    <div class="header-grid navigation">
      <img src="/images/logo12.png" alt="Logo" class="logo" />
      <ul>
            <li><a href="/home"><strong>Home</strong></a></li>
            <li><a href="/allocates/choose-speciality">Appointment</a></li>
            <li><a href="/allocates/appointdetails">Appoint Details</a></li>
            <li><a href="#">Report</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
      </ul>
    </div>

    <div class="steps-container">
      <div class="steps">
        <h2>Follow these easy steps</h2>

        <div class="diffsteps">
          <p>Select a Department</p>
          <img src="/images/select12.gif" class="decImage" />
        </div>

        <div class="diffsteps">
          <p>Select a Doctor</p>
          <img src="/images/doctor12.png" class="decImage" />
        </div>

        <div class="diffsteps">
          <p>Select a Time Slot</p>
          <img src="/images/time12.png" class="decImage" />
        </div>

        <div class="diffsteps">
          <p>Provide your Personal Information</p>
          <img src="/images/personalinfo12.png" class="decImage" />
        </div>

        <div class="diffsteps">
          <p>Get Appointment confirmation</p>
          <img src="/images/confirm12.png" class="decImage" />
        </div>
      </div>

      <div class="appointmentDate-container">
        <h1 class="my-4">Select a time slot</h1>
        <div class="row">
          <div class="col-5">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="">Appointment Date</span>
              </div>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-3">
            <p>Available Token: <%=slots.length%>
            </p>
          </div>
        </div>
        <br>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Token no.</th>
              <th scope="col">Date</th>
              <th scope="col">Start time</th>
              <th scope="col">End time: </th>
            </tr>
          </thead>
          <tbody>
            <form action="/allocates/personalInfo" method="post">
              <% for (const slot of slots) { %>
                <tr>
                  <th scope="row">
                    <%=slot.token%>
                  </th>
                  <td>
                    <%= slot.date %>
                  </td>
                  <td>
                    <%= slot.startTime %>
                  </td>
                  <td>
                    <%= slot.endTime %>
                  </td>

                  <td>
                    <button type="submit" name="selectedSlot" value="<%=JSON.stringify({
                      _id: slot._id,
                      startTime: slot.startTime,
                      endTime: slot.endTime,
                    })%>" class="btn btn-outline-primary">Book</button>

                  </td>
                </tr>
                <% } %>

                  <input type="hidden" name="speciality" value="<%= speciality %>">
                  <input type="hidden" name="doctorId" value="<%= doctorId %>">


            </form>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>